.task-card {
  background-color: rgb(224, 223, 223);
  padding: 20px;
  margin: 40px;
  border-radius: 10px;
  flex-direction: column;
}
/* .task-title {
    font-size: 1.5rem;
    font-weight: bold;
  } */
